<body>
  <div class="container">
    <h2 class="section-title">Kontakt</h2>
    <section id="kontakt">
      <div class="obiekt">
        <div>
          <address class="contact-details">
            <div>
              <strong>SPAW-SERWIS</strong><br />

              Mariusz Jaworski<br />
              Grabie 137<br />
              32-002 Węgrzce Wielkie<br />
            </div>
            <div>Tel: <a href="tel:+48602430873">602-430-873</a><br /></div>
            <div>NIP: 683 128 60 25<br /></div>
            <div>
              E-mail:
              <a href="mailto:info@spaw-serwis.com.pl"
                >info&#64;spaw-serwis.com.pl</a
              >
            </div>
          </address>
        </div>
      </div>
    </section>
    <app-map></app-map>
  </div>
</body>
