<div class="kontrahenci-container">
  <p class="srodek"><strong>Nasi Kontrahenci</strong></p>
  <ul>
    <li>
      <strong>INSTYTUT ŁĄCZENIA METALI w Krakowie</strong> – zajęcia praktyczne
      w kursach nadzoru i kontroli prac spawalniczych
    </li>
    <li>
      <strong>SIEĆ BADAWCZA ŁUKASIEWICZ Instytut Lotnictwa</strong> - szkolenie
      spawaczy, nadzór i doradztwo techniczne
    </li>
    <li><strong>BUDIMEX SA</strong> – szkolenie spawaczy</li>
    <li>
      <strong>LAVASTER</strong> - szkolenie spawaczy i doradztwo techniczne
    </li>
    <li>
      <strong>MOSTOSTAL ZABRZE S.A.</strong> – nadzór spawalniczy i jakościowy
      na budowach obiektów:
      <ul>
        <li><strong>Stadion Narodowy w Warszawie</strong></li>
        <li><strong>II linia Metra</strong></li>
        <li><strong>Spalarnia Śmieci w Krakowie</strong></li>
        <li><strong>Rurociągi tlenu i azotu w KHHM Polska Miedź</strong></li>
        <li>
          <strong
            >Rurociągi i kolektory parowe na rafinerii Orlen dla Siemens</strong
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>MOSTOSTAL KRAKÓW</strong> – nadzór na budowie Modernizacja
      Elektrofiltru Huta Szkła
    </li>
    <li>
      <strong>Saint Gobain Dąbrowa Górnicza</strong>
    </li>
    <li>
      <strong>BAMET Paweł Babraj</strong> - szkolenie spawaczy i doradztwo
    </li>
    <li>
      <strong>BTH Kraków</strong> – szkolenie spawaczy i doradztwo techniczne
    </li>
    <li>
      <strong>EKO-INŻ. Pińczów</strong> - szkolenie spawaczy i doradztwo
      techniczne
    </li>
    <li>
      <strong>KREISLER POLSKA obecnie Pratt & Whitney Tubes</strong> szkolenie
      spawaczy i doradztwo techniczne przy produkcji podzespołów paliwowe do
      silników odrzutowych
    </li>
    <li>
      <strong>ZUE Kraków</strong> – usługi spawalnicze, naprawy części maszyn,
      szkolenia
    </li>
    <li>
      <strong>FPHU FEMET Łukasz Dziedzic Monika Stabrawa sc</strong> - szkolenie
      spawaczy i doradztwo techniczne
    </li>
    <li>
      <strong>DEFRO sp. z o.o. sp. kom.</strong> - szkolenie spawaczy i
      doradztwo
    </li>
    <li>
      <strong>PRZEDSIĘBIORSTWO TOPIENIA BAZALTU Starachowice</strong> -
      szkolenie spawaczy i doradztwo techniczne
    </li>
    <li>
      <strong>SPAW-TOR Kraków</strong> - szkolenie spawaczy i doradztwo
      techniczne
    </li>
    <li>
      <strong>EDWARD STOLARSKI INSTALACJE</strong> - szkolenie spawaczy i
      doradztwo techniczne
    </li>
    <li>
      <strong>DELMA BAZALT Strzegom</strong> - szkolenie spawaczy i doradztwo
      techniczne
    </li>
    <li><strong>ENERGOMONTAŻ GDYNIA</strong> - szkolenie spawaczy</li>
    <li>
      <strong>PROBIS Warszawa</strong> - szkolenie spawaczy i doradztwo
      techniczne
    </li>
    <li>
      <strong>ROYAL CANIN Niepołomice</strong> - szkolenie spawaczy i doradztwo
      techniczne
    </li>
  </ul>
</div>
