<body>
  <header>
    <div class="mid">
      <strong><a>Rekomendacje</a></strong>
    </div>
    <strong
      ><a
        >Jesteśmy dumni z wieloletniej współpracy z firmami, które podzielają
        naszą pasję do doskonałości i innowacji. Pragniemy podziękować naszym
        partnerom biznesowym, którzy nie tylko są z nami na każdym etapie, ale
        także polecają nasze usługi innym. Oto kilka słów od naszych
        partnerów:</a
      ></strong
    >
  </header>
  <div class="budimex pdf-info">
    <h1>Budimex</h1>
    <a [href]="pdfSrc1" target="_blank" rel="noopener noreferrer">Zobacz PDF</a>
  </div>
  <div class="colorex pdf-info">
    <h1>ABC Colorex</h1>
    <a [href]="pdfSrc2" target="_blank" rel="noopener noreferrer">Zobacz PDF</a>
  </div>
  <div class="polmont pdf-info">
    <h1>Polmont</h1>
    <a [href]="pdfSrc3" target="_blank" rel="noopener noreferrer">Zobacz PDF</a>
  </div>
  <footer>
    <strong
      ><a>
        Zapraszamy do zapoznania się z rekomendacjami od naszych partnerów
        biznesowych. Odkryj, dlaczego warto dołączyć do grona firm, które już
        skorzystały z naszych usług i doświadczyły doskonałości w obszarze, w
        którym działamy. Przekonaj się, co mówią o współpracy z nami nasi
        zadowoleni klienci.</a
      ></strong
    >
  </footer>
</body>
