* {
  font-family: "Rubik-Regular", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}
strong {
  font-weight: bold;
}
.srodek {
  text-align: center;
  margin-top: 20px;
}
.container {
  max-width: 800px;
  background-color: #fafafa;
  padding: 15px 20px 30px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

li {
  margin-left: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
p {
  line-height: 1.6;
  color: #000000;
  text-align: justify;
}
.mid2 {
  margin-top: 15px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .container {
    border-radius: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* * {
    font-size: 17px;
  } */
  h1 {
    font-size: 30px;
  }
}
