* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("assets/static/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Rubik-Regular", sans-serif;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~mdbootstrap/css/mdb.min.css";
